<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style media="screen">
      td{text-align: center;width: 100px;}
  </style>
</head>
<body>
  <h1>hello world</h1>
  <img src="./showimg" alt="">
  收到参数：email是{email} <br>
           pwd是{pwd} <br>
  <form action="./login" method="post">
      email: <input type="text" name="email"><br>
      密码：<input type="password" name="pwd"><br>
      <input type="submit" value="登录">
  </form>
  <table>
      <tr>
          <th>uid</th>
          <th>username</th>
          <th>pwd</th>
      </tr>
      <tr>
          <td>uid</td>
          <td>username</td>
          <td>pwd</td>
      </tr>
  </table>
</body>
</html>
